body 
{
	background-image: url(../img/bg1.jpg);
	background-repeat: repeat;
}
#centerDiv
{
	margin: 0 auto;
	width: 1024px;
	top: -10px;
	height: 10px;
	position: relative;
}
#showDiv
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 772px;
	background-color: #111111;
}
#picDiv
{
	position: absolute;
	top: 30px;
	left: 0px;
	width: 1024px;
	height: 576px;
	background-color: #000000;
	background-size: 100% 100%;
	transition: background-image 1.5s;
	-moz-transition: background-image 1.5s;
	-webkit-transition: background-image 1.5s;
	-o-transition: background-image 1.5s; 
}
#changeDiv
{
	position: absolute;
	top: 606px;
	left: 0px;
	width: 1024px;
	height: 175px;
	border-top: 1px #000000 solid;
	background-color: #000000;
}
.centerImg
{
	position: absolute;
	width: 256px;
	height: 144px;	
	background-color: #000000;
	top: 25px;
	left: 384px;
	z-index: 10;
	opacity: 0.95;
}
.leftImg
{
	position: absolute;
	width: 192px;
	height: 108px;	
	background-color: #333333;
	top: 10px;
	left: 234px;
	z-index: 5;
	opacity: 0.7;
}
.rightImg
{
	position: absolute;
	width: 192px;
	height: 108px;	
	background-color: #333333;
	top: 10px;
	left: 598px;
	z-index: 5;
	opacity: 0.7;
}
.slLeftImg
{
	position: absolute;
	width: 192px;
	height: 108px;	
	background-color: #333333;
	top: 10px;
	left: 104px;
	z-index: 2;
	opacity: 0.2;
}
.slRightImg
{
	position: absolute;
	width: 192px;
	height: 108px;	
	background-color: #333333;
	top: 10px;
	left: 728px;
	z-index: 2;
	opacity: 0.2;
}
.veryLeftImg
{
	position: absolute;
	width: 192px;
	height: 108px;	
	top: 10px;
	left: 0px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
}
.veryRightImg
{
	position: absolute;
	width: 192px;
	height: 108px;	
	top: 10px;
	left: 832px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
}
.hiddenImg
{
	opacity: 0;
}
.petiteImg
{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	
	position: absolute;
	border: 2px solid #AAAAAA;
}
.petiteImg:hover
{
	box-shadow:0px 0px 10px #FFFFFF;
	top: 5px;
	z-index: 15;
	opacity: 1;
}
.playedImg
{
	box-shadow:0px 0px 30px #FF7A00;
}
.hideObj
{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.01;
}
.imgCover
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 5;
}
#hiddenInfo
{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 5;
	opacity: 0;
	
	transition: all 1s 0.5s;
	-moz-transition: all 1s 0.5s;
	-webkit-transition: all 1s 0.5s;
	-o-transition: all 1s 0.5s;
}
#hiddenInfo:hover
{
	opacity: 1;
}
#infoTitle
{
	position: absolute;
	left: 0px;
	top: 30px;
	height: 35px;
	width: 1024px;
	border-bottom: #CCCCCC solid 2px;
	color: #EEEEEE;
	overflow:visible;
	opacity: 0.9;
	
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
#infoTitle:hover
{
	opacity: 1;
	color: #233333;
	background-color: #CCCCCC;
}
#text1
{
	position: absolute;
	left: 20px;
	top: 5px;
	height: 40px;
	width: auto;
	font-family: "Arial","微软雅黑","Microsoft YaHei","黑体","SimHei";
	font-size: 22px;
}
#text2
{
	position: absolute;
	left: 900px;
	top: 38px;
	height: 40px;
	width: 100px;
	font-family: "Arial","微软雅黑","Microsoft YaHei","黑体","SimHei";
	font-size: 20px;
	color: #EEEEEE;
}
.petiteDot
{
	position: absolute;
	left:80px;
	top:80px;
	width: 40px;
	height: 40px;
	background: #000000;
	border: #AAAAAA solid 1px;
	overflow: hidden;
	opacity: 0.7;
	
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.petiteDot:hover
{
	border: #000000 solid 1px;
	width: 700px;
	opacity: 0.9;
}
.text3
{
	position: absolute;
	left: 50px;
	width: 600px;
	top: 10px;
	height: 30px;
	overflow: hidden;
	color: #EEEEEE;
	font-family: "Arial","微软雅黑","Microsoft YaHei","黑体","SimHei";
	font-size: 15px;
}
a:link,a:visited,a:hover,a:active
{
	color:#FF7A00;
}
#toolsBar
{
	position: absolute;
	left: 910px;
	top: 135px;
	height: 40px;
	width: 110px;
}
#playButton
{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	background-image: url(../img/play.png);
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#infoButton
{
	position: absolute;
	left: 40px;
	top: 0px;
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	background-image: url(../img/info.png);
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#bubbleButton
{
	position: absolute;
	left: 80px;
	top: 0px;
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	background-image: url(../img/bubble.png);
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#commentArea
{
	position: fixed;
	left: -600px;
	top: 0px;
	width: 500px;
	box-shadow:0px 0px 20px #FFFFFF;
	z-index: 100;
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	
	overflow: hidden;
}
#bkg
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.85;
	z-index: -1;
}
#commentIcon
{
	position: absolute;
	width: 60px;
	height: 60px;
	left: 20px;
	top: 10px;
}
#text5
{
	position: absolute;
	top: 25px;
	left: 100px;
	font-family: "Arial","微软雅黑","Microsoft YaHei","黑体","SimHei";
	font-size: 40px;
	color: #FF7A00;
	
}
#line2
{
	position: absolute;
	top: 75px;
	left: 20px;
	background-color: #FFFFFF;
	height: 1px;
	width: 450px;
}
#postComment
{
	position: absolute;
	top: 32px;
	left: 430px;
	height: 33px;
	width: 33px;
	background-image: url(../img/pencil.png);
	background-size: 33px 33px;
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#postComment:hover
{
	background-image: url(../img/pencil-r.png);
}
#commentShower
{
	position: absolute;
	top: 85px;
	left: 20px;
	height: 500px;
	width: 460px;
	overflow: hidden;
}
#factShower
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.commentBlock
{
	position: relative;
	left: 20px;
	margin-top: 20px;
	width: 400px;
}
.leftCO
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	font-family: "Arial","微软雅黑","Microsoft YaHei","黑体","SimHei";
	font-size: 19px;
	word-break: break-all;
	text-align: center;
	color: #BBBBBB;
}
.rightCO
{
	position: absolute;
	left: 90px;
	top: 0px;
	width: 310px;
	font-family: "Arial","微软雅黑","Microsoft YaHei","黑体","SimHei";
	font-size: 17px;
	word-break: break-all;
	color: #FFFFFF;
}
.commentImg
{
	width: 70px;
	height: 70px;
	border: solid #FF7A00 2px;
}
#upButton
{
	position: absolute;
	left: 425px;
	width: 30px;
	height: 30px;
	background-image: url(../img/arrow-up.png);
	background-size: 30px 30px;
	z-index: 10;
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#downButton
{
	position: absolute;
	left: 425px;
	width: 30px;
	height: 30px;
	background-image: url(../img/arrow-down.png);
	background-size: 30px 30px;
	z-index: 10;
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#upButton:hover
{
	background-image: url(../img/arrow-up-red.png);
}
#downButton:hover
{
	background-image: url(../img/arrow-down-red.png);
}
#downLayer
{
	position: absolute;
	top: 610px;
	left: 20px;
	height: 50px;
	width: 460px;
	text-align: center;
}
#leftButton
{
	position: absolute;
	left: 60px;
	width: 40px;
	height: 40px;
	background-image: url(../img/backward.png);
	background-size: 40px 40px;
	z-index: 10;
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#leftButton:hover
{
	background-image: url(../img/backward-r.png);
}
#rightButton
{
	position: absolute;
	left: 360px;
	width: 40px;
	height: 40px;
	background-image: url(../img/forward.png);
	background-size: 40px 40px;
	z-index: 10;
	
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#rightButton:hover
{
	background-image: url(../img/forward-r.png);
}
#pageIndexShower
{
	position: absolute;
	left: 180px;
	width: 100px;
	height: 40px;
	text-align: center;
	font-family: "Arial","微软雅黑","Microsoft YaHei","黑体","SimHei";
	font-size: 28px;
	color: #CCCCCC;
	z-index: 10;
}